[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
Flask = "*"
Flask-Bootstrap = "*"
opencv-python = "*"
werkzeug = "*"
redis = "*"
rq = "*"
rq-dashboard = "*"

[dev-packages]

[requires]
python_version = "3.7"
